{% extends "base.twig" %}

{% block title %}Home
{% endblock %}
{% block head %}
	{{ parent() }}
	<!--empty for now lol-->
{% endblock %}
{% block content %}
	{% if homepage.show_header is defined and homepage.show_header %}
		{{ renderHeader() }}
	{% endif %}
	{# In the future we'all add a proper banner system, for now let's just go with that. #}
	<div id="banner-container">
		<img src="images/banners/1.png" id="banner-temp">
	</div>
	{% if homepage.show_navbar is defined and homepage.show_navbar %}
		{{ renderNavbar() }}
	{% endif %}
	<div id="homepage-content" style="display: flex; flex-direction: column; align-items: center; gap: 20px; margin-top: 20px;">
		<div class="card" style="width: 50%">
			<div class="card-header">
				<h2>Welcome to {{ sitename }}!</h2>
				<p>{{ sitedescription }}</p>
			</div>
			<div class="card-body">
                <h3>Getting Started</h3>
                <ul>
                    <li>To create a new post, navigate to a board and fill out the post form.</li>
                    <li>To reply to an existing thread, click on the thread and use the reply form.</li>
                    <li>Remember to follow the board rules and guidelines.</li>
					<li>Check the overboard out <a href="/overboard">here</a></li>
                </ul>
            </div>
		</div>
		{% if homepage.show_popular_threads is defined and homepage.show_popular_threads %}
		<div class="card" style="width: 50%">
			<div class="card-header">
				<h3>Popular threads</h3>
			</div>
			<div class="card-body">
				{{ getPopularThreads() }}
			</div>
		</div>
		{% endif %}
		{% if homepage.show_boards is defined and homepage.show_boards %}
		<div class="card" style="width: 50%">
			<div class="card-header">
				<h3>Boards</h3>
			</div>
			<div class="card-body" style="display:flex; justify-content:center; align-items:center;">
				{{ renderBoards() }}
			</div>
		</div>
		{% endif %}
		{% if homepage.show_post_counter is defined and homepage.show_post_counter %}
		<div class="card" style="width: 50%">
			<div class="card-header">
				<h3>Total posts</h3>
			</div>
			<div class="card-body" style="display:flex; justify-content:center; align-items:center;">
				{{ renderPostCounter() }}
			</div>
		</div>
		{% endif %}
	</div>


{% endblock %}
